# Agriculture biologique

In [8]:
# Import de la librairie Pandas
import pandas as pd

# Import de la librairie matplotlib
import matplotlib.pyplot as plt

### 1.1 - Chargement des données

In [9]:
bio = pd.read_csv("Agriculture_biologique_final.csv", sep ="\t")
bio

,product_name,brands_tags,serving_size,est_bio
0,Skyr,danone,NaN,False
1,moutarde au moût de raisin,courte-paille,NaN,False
2,Solène céréales poulet,crous,NaN,False
3,Tarte noix de coco,"crous-resto,crous",NaN,False
4,Crème dessert chocolat,ferme-de-la-fremondiere,NaN,False
...,...,...,...,...
463917,Saveur ABRICIT,gerble,NaN,False
463918,Lindt pâte à tartiner,lindt,NaN,False
463919,Biodrink antioxydant pendant effort,punch-power,NaN,True
463920,miel de fleurs sauvage,miellerie-de-la-natouze,NaN,False
463921,Thé noir BIO Darjeeling,pages,NaN,False

In [10]:
# Affichage des informations
bio.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 463922 entries, 0 to 463921
Data columns (total 4 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   product_name  456563 non-null  object
 1   brands_tags   463922 non-null  object
 2   serving_size  86178 non-null   object
 3   est_bio       463922 non-null  bool
dtypes: bool(1), object(3)
memory usage: 11.1+ MB

In [11]:
# Affichage des premières lignes

bio.head()

                   product_name              brands_tags serving_size  est_bio
0                          Skyr                   danone          NaN    False
1   moutarde au moût de raisin             courte-paille          NaN    False
2        Solène céréales poulet                    crous          NaN    False
3            Tarte noix de coco        crous-resto,crous          NaN    False
4        Crème dessert chocolat  ferme-de-la-fremondiere          NaN    False

In [12]:
#valeurs manquantes
bio.isna().sum()

product_name      7359
brands_tags          0
serving_size    377744
est_bio              0
dtype: int64

In [13]:
bio_without_nan = bio.dropna(subset=[col for col in bio.columns if col != 'serving_size'], inplace=False)
bio_without_nan

,product_name,brands_tags,serving_size,est_bio
0,Skyr,danone,NaN,False
1,moutarde au moût de raisin,courte-paille,NaN,False
2,Solène céréales poulet,crous,NaN,False
3,Tarte noix de coco,"crous-resto,crous",NaN,False
4,Crème dessert chocolat,ferme-de-la-fremondiere,NaN,False
...,...,...,...,...
463917,Saveur ABRICIT,gerble,NaN,False
463918,Lindt pâte à tartiner,lindt,NaN,False
463919,Biodrink antioxydant pendant effort,punch-power,NaN,True
463920,miel de fleurs sauvage,miellerie-de-la-natouze,NaN,False
463921,Thé noir BIO Darjeeling,pages,NaN,False

In [14]:
bio_without_nan.duplicated().sum()

59913

In [15]:
bio_without_nan = bio_without_nan.drop_duplicates()

In [16]:
bio_without_nan.describe(include = 'all')

        product_name brands_tags serving_size est_bio
count         396650      396650        81360  396650
unique        311711       57779         9233       2
top     Jus de pomme      auchan      serving   False
freq             191        9220         9863  332714

In [17]:
print("Il y a", bio_without_nan.describe(include = 'all').loc["unique","brands_tags"], "brands uniques")
brands_uniques = bio_without_nan.describe(include = 'all').loc["unique","brands_tags"]

Il y a 57779 brands uniques

In [18]:

bio_percentage = bio_without_nan['est_bio'].value_counts(normalize=True) * 100

print("Part des produits bio :\n", bio_percentage)

Part des produits bio :
 est_bio
False    83.881003
True     16.118997
Name: proportion, dtype: float64